.footer {
    display: flex;
    margin: 1rem;
    width: 100%;
    padding: 2rem 0rem;
    background-color: rgba(27, 0, 0, 0.8);
}

.footer-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 80px;
}

.left {
    margin-top: 5rem;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.left h4 {
    font-size: 1.9rem;
    color: #c2fbd7;
    padding-bottom: 0.5rem;
}

.left p {
    font-size: 1.3rem;
}

.Right {
    margin-top: 4rem;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.Right h5 {
    font-size: 1.5rem;
    color: #ffffff;
    padding-bottom: 0.7rem;
}


.Social {
    margin-top: 3rem;
    padding-left: 2rem;
}


@media screen and (max-width: 640px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}