.footer {
    width: 90%;
    padding: 1rem 0;
    background-color: rgba(32, 1, 1, 0.8);
}

.footer-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 90px;
}

.left {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.left h4 {
    font-size: 2.6rem;
    color: #2cd9d0;
    padding-bottom: 0.7rem;
}

.left p {
    font-size: 1.3rem;
}

.right {
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.Social {
    margin-top: 10rem;
}


@media screen and (max-width: 640px) {
    .footer-container {
        grid-template-columns: 1fr;
    }
}