@import url('https://fonts.googleapis.com/css2?family=Alice&family=Almendra+SC&family=Antic+Slab&family=Bebas+Neue&family=Fleur+De+Leah&family=Lugrasimo&family=Lumanosimo&family=Mea+Culpa&family=Miltonian+Tattoo&family=Noto+Color+Emoji&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Pangolin&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Marker+Hatch&family=Sedgwick+Ave+Display&family=Sevillana&family=Shadows+Into+Light&family=Snowburst+One&family=Teko:wght@300;400;500;600;700&family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
  ;
  ;
}

body {
  background: url('./assets/red.gif');
}

h1,
h4,
p,
a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.button-33 {
  background-color: #3a0202;
  border-radius: 100px;
  box-shadow: rgba(245, 165, 202, 0.35) 0 -25px 18px -14px inset, rgba(228, 146, 177, 0.25) 0 1px 2px, rgba(230, 5, 80, 0.25) 0 2px 4px, rgba(240, 6, 95, 0.25) 0 4px 8px, rgba(241, 7, 97, 0.25) 0 8px 16px, rgba(231, 74, 192, 0.25) 0 16px 32px;
  color: rgb(252, 252, 252);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 10;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-light {
  background-color: #3a0202;
  border-radius: 100px;
  box-shadow: rgba(245, 165, 202, 0.35) 0 -25px 18px -14px inset, rgba(228, 146, 177, 0.25) 0 1px 2px, rgba(230, 5, 80, 0.25) 0 2px 4px, rgba(240, 6, 95, 0.25) 0 4px 8px, rgba(241, 7, 97, 0.25) 0 8px 16px, rgba(231, 74, 192, 0.25) 0 16px 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.button-33:hover {
  box-shadow: rgba(245, 165, 202, 0.35) 0 -25px 18px -14px inset, rgba(228, 146, 177, 0.25) 0 1px 2px, rgba(230, 5, 80, 0.25) 0 2px 4px, rgba(240, 6, 95, 0.25) 0 4px 8px, rgba(241, 7, 97, 0.25) 0 8px 16px, rgba(231, 74, 192, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}